# Ignore secret keys and local configs
backend/.env
backend/ .env
backend/venv/
dashboard/config.js
widget/config.js
landing/config.js

# General OS files and caches
**/__pycache__/
*.pyc
.DS_Store
.gemini/
